<h1>Media Library</h1>
<ul class="row card-group">
    {{#each media}}
        <li class="card m-4 text-center col-lg-4">
            <h5>{{this.title}}</h5>
            <p>{{this.releaseYear}}</p>
            <p>{{this.provider}}</p>
            <p>{{this.status}}</p>
            <p>{{this.rating}}</p>
            <p>{{this.username}}</p>
        </li>
    {{/each}}
</ul>